<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maven project of lucene</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
<form action="/getAll">
    <a href="api/ListAll">List OF All Data</a>
    <h1>Search your Data</h1>
    <input type="text" name="query" placeholder="you Can search now!!" style="height: 40px; width: 40%;">&nbsp;&nbsp;
    <button type="submit" style="height: 40px;">Search</button>
</form>
</body>

</html>